.btn-pay {
    text-align: center;
}
.btn {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 6px 16px;
    width: 110px;
    border-radius: 2px;
    background-color: #00b9f5;
    color: white;
    border: 1px solid #00b9f5;
}
input {
    color: rgb(0, 0, 248);
}