<html>

<head>
    <title>Merchant Check Out Page</title>
</head>

<body>
    <form method="post" action="https://securegw-stage.paytm.in/order/process" name="paytm">
        <input type="hidden" name="MID" [value]="requestAttributes.MID"><br />
        <input type="hidden" name="WEBSITE" [value]="requestAttributes.WEBSITE"><br />
        <input type="hidden" name="ORDER_ID" [value]="requestAttributes.ORDER_ID"><br />
        <input type="hidden" name="CUST_ID" [value]="requestAttributes.CUST_ID"><br />
        <input type="hidden" name="MOBILE_NO" [value]="requestAttributes.MOBILE_NUMBER"><br />
        <input type="hidden" name="EMAIL" [value]="requestAttributes.EMAIL"><br />
        <input type="hidden" name="INDUSTRY_TYPE_ID" [value]="requestAttributes.INDUSTRY_TYPE_ID"><br />
        <input type="hidden" name="CHANNEL_ID" [value]="requestAttributes.CHANNEL_ID"><br />
        <input type="hidden" name="TXN_AMOUNT" [value]="requestAttributes.TXN_AMOUNT"><br />
        <input type="hidden" name="CALLBACK_URL" [value]="requestAttributes.CALLBACK_URL"><br />
        <input type="hidden" name="CHECKSUMHASH" [value]="requestAttributes?.CHECKSUMHASH.checksum"><br />
        <script type="text/javascript">
            document.paytm.submit();
        </script>
        <div class="btn-pay">
            <button class="btn">100$</button>
        </div>
    </form>
</body>

</html>